 .container {
     display: flex;
     flex-direction: row-reverse;
     list-style-type: none;
     background-color: rgb(34, 37, 41);
 }

 .container > li {
     flex: 1;
 }

 li a {
    display: block;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 19px 18px;
    text-decoration: none;
}

 li a:hover {
    color: #FDCE41;
 }

 .cursive {
    padding: 10px 10px;
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
    color: #FDCE41;
}

body {
    background-image: url("./media-queries-afternoon/src/img/header-bg.jpg");
    background-size: cover;
}

.slant {
    margin: 40px;
    font-family: 'Cantarell', sans-serif;
    color: white;
    text-align: center;
    font-size: 30px;

}

.straight {
    margin: 30px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    font-size: 40px;
}

.BUTTON_QOQ {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 40px;
    font-weight: 900;
    padding: 20px 10px;
    background-color: #FDCE41;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    float: right;
    position: relative;
    left: -34%;
    }

 
    @media only screen and (max-width: 767px) {
        body div .slant .straight{
        clear: both;
         line-height: 1.2em  1.65em;
         margin: 0 auto;
         text-align: center;
         position: absolute;
         left: 30%;
         float: left; 
    }}